a {
  text-decoration: none;
  font-weight: lighter;
}

p {
  line-height: 1.6;
  font-size: 1.2rem;
}

h1 {
  margin: 0;
}

/* Scrollbar Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Scrollbar Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
}

.main {
  flex: 1;
}

.center {
  text-align: center;
}

.box {
  padding: 5% 12% !important;
}

.float-right {
  float: right;
}

.frosted-pane {
  backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.bolder {
  font-weight: bolder;
}

.title-regular {
  font-size: 2.5rem;
}

.title-large {
  font-size: 4rem;
}

.transparent-button {
  background-color: rgba(0, 0, 0, 0);
  padding: 1% 3%;
  font-size: 1.3rem;
  color: white;
  border-radius: 7px;
  border: 2px solid white;
  text-decoration: none;
  margin-top: 1%;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .box {
    padding: 10% 4% !important;
  }
}
